/* font-family: 'Inter', sans-serif; */
/* font-family: 'Merriweather', serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
#container{
    width: 1250px;
    margin: auto;
    padding: 0 100px;
}
/* Banner Section */
#banner{
    width: 100%;
    height: 600px;
    background: linear-gradient(#070211, #07021100), url('../images/Banner Image.png');
    color: white;
}
.banner-text-box{
    position: absolute;
    top: 33.33%;
    left: 25.2%;
    width: 620px;
    height: 200px;
    font-family: 'Merriweather', serif;
    text-align: center;
}
.banner-text-box h3{
    font-size: 30px;
    line-height: 40px;
}
.banner-text-box h1{
    font-size: 60px;
    line-height: 80px;
}
/* Offer  Section */
#Offer-section{
    padding: 100px 225px;
    text-align: center;
}
#Offer-section h1{
    color: #FF0000;
    font-family: 'Inter', sans-serif;
    font-size: 80px;
    font-weight: 700px;
    line-height: 100px;
    margin-bottom: 10px;
}
#Offer-section h4{
    color: #FF0000;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700px;
    line-height: 30px;
}
#Offer-section h3{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 46px;
    font-weight: 700px;
    line-height: 60px;
}
/* welcome Section */
#welcome{
    position: relative;
    width: 100%;
    height: 600px;
    background: linear-gradient(#070211, #07021100), url('../images/Vectorrr.png');
    /* background: linear-gradient(#070211, #07021100), url('../images/Group 70.png'); */
    color: white;
}
#welcome .img{
    width: 300px;
    height: 400px;
    position: absolute;
    right: 80px;
    top: 80px;
    z-index: 4;
}
.welcome-text-box{
    position: absolute;
    top: 33.33%;
    left: 17.2%;
    width: 620px;
    height: 200px;
    font-family: 'Merriweather', serif;
}
.welcome-text-box h1{
    font-size: 60px;
    line-height: 80px;
}
.welcome-text-box button {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-top: 20px;
    background-color: rgb(28, 29, 29);
}
/* place-date Section */
#place-date{
    width: 100%;
    background: linear-gradient(#eaafaf, #FF000000);
    font-family: 'Inter', sans-serif;
}
#place-date .text{
    width: 550px;
    height: 170px;
    font-weight: 600px;
    font-size: 34px;
    line-height: 56px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
#place-date .text p span{
    color: #FF0000;
}
#place-date button{
    background-color: #FF0000;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 32px;
    margin: auto;
    border: none;
    border-radius: 10px;
}
#place-date button a{
    color: #fff;
    text-decoration: none;
}
#place-date div:last-child{
    width: 170px;
    height: 60px;
    margin: auto;
}
/* coming-soon Section */
#coming-soon{
    display: flex;
    margin-top: 100px;
}
#coming-soon div{
    width: 33.33%;
    padding: 0 30px 0 0;
}
#coming-soon h4{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 500px;
    color: #FF0000;
}
#coming-soon div:nth-child(1), #coming-soon div:nth-child(3){
    padding-top: 50px;
}
#coming-soon div:nth-child(1) h2{
    font-family: 'Merriweather', serif; 
    font-size: 40px;
    font-weight: 900px;
    line-height: 60px;
}
#coming-soon div:nth-child(1) p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
#coming-soon div:nth-child(2){
    text-align: center;
}
#coming-soon div:nth-child(2) img {
    width: 90%;
    border: 15px solid #FF0000;
    border-radius: 50%;
    padding: 20px;
}
#coming-soon div:nth-child(3){
    padding-left: 30px;
    padding-right: 30px;
}
#coming-soon div:nth-child(3) h4{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 500px;
    color: #FF0000;
}
#coming-soon div:nth-child(3) h2{
    font-family: 'Merriweather', serif; 
    font-size: 40px;
    font-weight: 900px;
    line-height: 60px;
    color: #FF0000;
    text-align: left;
}
#coming-soon div:nth-child(3) p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
#coming-soon div:nth-child(3) img{
    margin-top: 20px;
}
#coming-soon{
    margin-top: 100px;
}
/* holiday Section */
#holiday{
    width: 100%;
    margin-top: 100px;
}
.holiday-text-box{
    text-align: center;
}
.holiday-text-box h5{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.holiday-text-box h2{
    font-family: 'Merriweather', serif; 
    font-size: 40px;
    font-weight: 900px;
    line-height: 60px;
}
.holiday-text-box h2 span{
    color: #FF0000;
}
.holiday-text-box p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.holiday-image-box{
    height: 556px;
    position: relative;
    display: flex;
}
.holiday-image-box img:first-child{
    background: linear-gradient(#fff, #fff);
    width: 70%;
    z-index: 1;
}
.holiday-image-box img:nth-child(2){
    width: 30%;
}
.holiday-image-box img:nth-child(3){
    position: absolute;
    right: 18%;
}
.holiday-image-box img:nth-child(4){
    position: absolute;
    /* width: 100%; */
    bottom: 0;
}
/* Portfolio Section */
#portfolio{
    width: 100%;
    margin: 50px 0;
}
.portfolio-text{
    width: 66.66%;
}
.portfolio-text h4{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 500px;
    color: #FF0000;
}
.portfolio-text h2{
    font-family: 'Merriweather', serif; 
    font-size: 40px;
    font-weight: 900px;
    line-height: 60px;
}
.portfolio-text p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.portfolio-gallery{
    display: flex;
    margin-top: 20px;
}
.portfolio-gallery img{
    width: 33.33%;
    padding: 5px;
}
/* subscribe Section */
#subscribe{
    padding: 50px;
background-color: #FFF2F2;
}
#subscribe h2{
    font-family: 'Merriweather', serif; 
    font-size: 48px;
    font-weight: 900px;
    line-height: 60px;
    text-align: center;
}
#subscribe p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.subscribe-inner-box-icon{
    width: 150px;
    height: 150px;
    margin: auto;
}
.input-subscribe-button{
    width: 450px;
    margin:50px auto;
}
.input-subscribe-button input{
    width: 300px;
    height: 50px;
    border: none;
    padding-left: 20px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.input-subscribe-button button{
    width: 150px;
    height: 50px;
    background-color: #FF0000;
    color: #fff;
    border: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
footer{
    background: #000;
    margin-top: 100px;
}
.footer-container{
    width: 1250px;
    margin: auto;
    padding: 100px;
}
.top-footer div{
    width: 385px;
}
.top-footer div:first-child{
    float: left;  
}
.top-footer div:last-child{
    float:right 
}
.top-footer div h4{
    text-align: end;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 500px;
    font-size: 24px;
    line-height: 42px;
}
.midlee-footer{

    width: 480px;
    margin: 50px auto;
}
.midlee-footer a{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 60px;
    text-align: center;
    margin: 10px;
    display: inline-block;
}
.bottom-footer div:first-child{
    font-family: 'Inter', sans-serif;
    font-weight: 500px;
    font-size: 26px;
    line-height: 42px;
    color: #fff;
    float: left;  
}
.bottom-footer div:last-child{
    float:right 
}
.bottom-footer div:last-child a{
    font-family: 'Inter', sans-serif;
    font-weight: 500px;
    font-size: 26px;
    line-height: 42px;
    text-align: end;
    text-decoration: none;
    color: #fff;
}